.time-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-picker-container-in-line {
  display: inline-block;
}

.logo-container img {
  width: 50%;
  height: auto;
}

.dropdown-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dropdown-container h3 {
  margin-right: 10px;
}

.time-pickers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.time-picker-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.time-picker-label {
  margin-right: 10px;
}
